body{
  background-color: rgb(7, 7, 66);
  color : white
}

h1{
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}
input{
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
button{
  margin-top: 1rem;
  min-width: 100px;
}