li{
    padding: 0.5rem;
    background-color: #e4e4e7;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
}
button{
    margin-left: auto;
    background-color: #dc2626;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    color: #e4e4e7;
}